table {
    /* 关键：合并边框 */
    border-collapse: collapse;
    width: 100%;
}

tr {
    /* 每行底部一条横线 */
    border-bottom: 1px solid #ccc;
}

td {
    padding: 8px;
}

.mySearchCard {
    position: fixed;
    width: 400px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: black;
}

.mySearchCard-table {
    border: 1px solid black;
    width: 100%;
}

/* 表格第一列宽度 */
.mySearchCard-table td:first-child(1) {
    width: 60%;
}

.mySearchCard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.mySearchCard-header h2 {
    margin: 0;
}

.mySearchCard-content {
    margin: 10px 20px 20px 20px;
}

.close-button {
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}