body {
  width: 400px;
  height: 200px;
}

.container {
  padding: 10px;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.option {
  /* display: flex; */
  align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
}

.textfield {
  margin-bottom: 10px;
}

.textfield>input {
  margin-left: 10px;
  /* cursor: pointer; */
}

.largetext>span {
  vertical-align: text-top;
}

.largetext>textarea {
  vertical-align: text-top;
}

.savebutton {
  float: right;
}